.formWrapper {
    display: flex;
    justify-content: center;
}

form.addBudgetForm {
    font-family: Arial, sans-serif;
    font-size: 20px;
    border-radius: 10px;
    background-color: #a92921;
    border: 1px solid #8b0b03;
    box-shadow: 0 0 30px #d4af37;
    padding: 15px;
    width: 500px;
}

form.addBudgetForm table {
    width: 100%;
}

form.addBudgetForm tr {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

form.addBudgetForm td {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

form.addBudgetForm td label {
    margin-right: 20px;
    font-weight: bold;
    color: snow;
    text-align: right;
    width: 100%; /* Ajustez selon vos besoins */
}
form.addBudgetForm td:first-child {
    width: 30%; /* Cellules avec label */
}
form.addBudgetForm td:last-child {
    position: relative;
    width: 70%; /* Ajustez selon vos besoins */
}

form.addBudgetForm input[type="number"],
form.addBudgetForm select {
    width: 100%;
    height: 30px;
    font-family: Arial, sans-serif;
    border-radius: 10px;
    font-size: 20px;
    background-color: white;
    border: 1px solid #e1e1e1;
    padding-left: 10px;
}

form.addBudgetForm td:has(input[type="number"])::after {
    content: "€";
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #808080;
}


form.addBudgetForm tr:last-child tr {
    text-align: center;
    width: 100%;
}
form.addBudgetForm tr:last-child td {
    display: flex;
    justify-content: center;
    width: 100%;
}

form.addBudgetForm input[type="submit"] {
    font-size: 20px;
    font-weight: bold;
    color: #d4af37;
    background-color: #005715;
    border: 1px solid #003900;
    border-radius: 10px;
    width: 80%; /* Ajustez cette valeur selon vos préférences */
    height: 50px;
    transition: box-shadow 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    margin-top: 20px;
}



form.addBudgetForm input[type="submit"]:hover {
    background-color: #1e7533;
    box-shadow: 0 0 30px #d4af37;
    color: #f2cd55;
}

form.addBudgetForm input[type="submit"]:disabled {
    color: #808080;
    background-color: #a6a6a6;
    border: 1px solid #808080;
}

.errorMessage, .successMessage {
    font-size: 12px;
    background-color: snow;
    display: flex;
    justify-content: center;
    border: 1px solid #d4af37;
    border-radius: 3px;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

.errorMessage {
    color: red;
}

.errorMessage::before {
    content: "\0026A0";
    margin-right: 5px;
}

.successMessage {
    color: green;
}

.successMessage::before {
    content: "\2713";
    margin-right: 5px;
}

@media (max-width: 600px) {
    form.addBudgetForm {
        width: 90%;
    }
    .formWrapper {
        padding-top: 10%;
    }
}
