h1 {
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-shadow: 0 0 15px #d4af37;
    color: #d4af37;
    margin-left: 50px;
    margin-right: 50px;

}

.descContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #005715;
    border: 1px solid #162c16;
    border-radius: 10px;
    margin: 10px auto;
    width: 90%;
    max-width: 800px;
    padding: 15px;
    box-shadow: 0 0 15px #d4af37;
    flex-direction: column;
    margin-top: 20px;
}

.desc {
    font-family: Arial, sans-serif;
    color: #d4af37;
    text-align: center;
    font-size: 1.2em;
}

.merryChristmas {
    text-shadow: 0 0 15px #d4af37;
    font-weight: bold;
    font-size: 2em;
    font-family: Arial, sans-serif;
    color: #d4af37;
}

.titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #005715;
    border: 1px solid #162c16;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 10px auto;
    width: 90%;
    max-width: 800px;
}

.titleContainer img {
    width: 10%;
    height: auto;
}

.titleContainer h1 {
    text-align: center;
}

.walletImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.walletImage {
    width: 40%;
    height: auto;
}

@media (max-width: 600px) {
    .titleContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #005715;
        border: 1px solid #162c16;
        border-radius: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin: 10px auto;
        width: 75%;
        max-width: 800px;
    }

    .titleContainer h1 {
        font-size: 25px;
        margin: 0;
    }

    .titleContainer img {
        width: 20%;
        height: auto;
    }
}