.main-navigation-bar {
    display: flex;
    justify-content: space-around;
    font-family: Arial, sans-serif;
    font-size: x-large;
    background-color: #005715;
    border: 1px solid #162c16;
    border-radius: 10px;
    box-shadow: 0 0 30px #d4af37;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 10px;
    margin-bottom: 30px;
}

nav a {
    color: #d4af37;
    text-decoration: none;
    transition: text-shadow 0.3s ease, color 0.3s ease;
}

nav a:hover {
    text-shadow: 0 0 15px #d4af37;
    color: #f2cd55;
}

@media (max-width: 400px) {
    body {
        display: flex;
        flex-direction: row;
        margin: 0;
        overflow-x: hidden;
    }

    .main-navigation-bar {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100px;
        margin: 0;
        padding: 10px 5px;
        border-radius: 0;
        box-shadow: none;
    }

    nav a {
        font-size: x-small;
        margin: 5px 0;
        text-align: left;
        padding: 10px;
    }

    main {
        padding-left: 120px;
    }
}