.garland-image {
    display: block;
    margin: auto;
    width: 20%;
    height: auto;
}

@media(max-width: 600px) {
    .garland-image {
        display: block;
        width: 50%;
        height: auto;
    }
}
