.modifyBudgetFormWrapper {
    display: flex;
    justify-content: center;
}

form.modifyBudgetForm {
    align-content: center;
    font-family: Arial, sans-serif;
    font-size: 20px;
    border-radius: 10px;
    background-color: #a92921;
    border: 1px solid #8b0b03;
    box-shadow: 0 0 30px #d4af37;
    padding: 15px;
    width: 500px;
    height: auto; /* Changed to auto for flexibility */
    display: flex;
    flex-direction: column; /* Changed to column for better stacking on small screens */
    align-items: center;
    margin-bottom: 20px;
}

form.modifyBudgetForm div {
    display: flex;
    width: 100%; /* Ensure child divs take full width */
    justify-content: center;
    align-items: center;
    margin-bottom: 10px; /* Add spacing between elements */
}

div label.modifyBudgetFormLabel {
    margin-right: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    color: snow;
}

input[type="number"] {
    width: 100%; /* Adjust width to take full container width */
    height: 30px;
    font-family: Arial, sans-serif;
    border-radius: 10px;
    font-size: 20px;
    background-color: white;
    border: 1px solid #e1e1e1;
    padding-left: 10px;
    margin-right: 10px;
}

input[type="submit"] {
    font-size: 20px;
    font-weight: bold;
    color: #d4af37;
    background-color: #005715;
    border: 1px solid #003900;
    border-radius: 10px;
    width: 100%; /* Adjust width to take full container width */
    height: 50px;
    transition: box-shadow 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #1e7533;
    box-shadow: 0 0 30px #d4af37;
    color: #f2cd55;
}

h2 {
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-shadow: 0 0 15px #d4af37;
    color: #d4af37;
}

.modifyBudgetTitleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #005715;
    border: 1px solid #162c16;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 10px auto;
    width: 370px;
    text-align: center;
}

/* Media query for phones */
@media (max-width: 600px) {
    form.modifyBudgetForm {
        width: 90%; /* Reduce width for smaller screens */
    }

    .modifyBudgetTitleContainer {
        width: 90%; /* Reduce width for smaller screens */
    }

    input[type="number"],
    input[type="submit"] {
        width: 100%; /* Ensure full width on smaller screens */
    }
}