.formWrapper {
    display: flex;
    justify-content: center;
    height: 100%;
}

form.addCategoryForm {
    font-family: Arial, sans-serif;
    font-size: 20px;
    border-radius: 10px;
    background-color: #a92921; /* Red background color */
    border: 1px solid #8b0b03;
    box-shadow: 0 0 30px #d4af37;
    padding: 15px;
    width: 50%; /* Adjust this value to change the width */
    max-width: 600px; /* Optional: Set a max width */
    height: auto; /* Adjust this value to change the height */
}

form.addCategoryForm table {
    width: 100%;
}

form.addCategoryForm tr {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

form.addCategoryForm td, form.addCategoryForm th {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

form.addCategoryForm th {
    font-weight: bold;
    color: snow;
    text-align: center;
}

form.addCategoryForm td label {
    margin-right: 20px;
    font-weight: bold;
    color: snow;
    text-align: right;
    width: 40%;
}

form.addCategoryForm td:first-child {
    width: 40%;
}

form.addCategoryForm td:last-child {
    width: 60%;
}

form.addCategoryForm input[type="text"] {
    width: 100%;
    height: 30px;
    font-family: Arial, sans-serif;
    border-radius: 10px;
    font-size: 20px;
    background-color: white;
    border: 1px solid #e1e1e1;
    padding-left: 10px;
}

form.addCategoryForm tr:last-child td {
    display: flex;
    justify-content: center;
    width: 100%;
}

form.addCategoryForm input[type="submit"] {
    font-size: 20px;
    font-weight: bold;
    color: #d4af37;
    background-color: #005715;
    border: 1px solid #003900;
    border-radius: 10px;
    width: 80%;
    height: 50px;
    transition: box-shadow 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    margin-top: 20px;
}

form.addCategoryForm input[type="submit"]:hover {
    background-color: #1e7533;
    box-shadow: 0 0 30px #d4af37;
    color: #f2cd55;
}

form.addCategoryForm input[type="submit"]:disabled {
    color: #808080;
    background-color: #a6a6a6;
    border: 1px solid #808080;
}

@media (max-width: 600px) {
    .formWrapper {
        padding-top: 10%;
    }
    form.addCategoryForm {
        width: 90%;
    }
}